<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StartTime" value="21:30" />
    <add key="EndTime" value="06:30" />
    <add key="HubAddress" value="10.50.20.76:4444" />
    <add key="AutoUpdate" value="true" />
    <add key="ChromeInstances" value="16" />
    <add key="Host" value="10.0.1.41" />
  </appSettings>
</configuration>