<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StartTime" value="20:00" />
    <add key="EndTime" value="21:00" />
    <add key="HubAddress" value="localhost:4444" />
  </appSettings>
</configuration>