<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Debug" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="Console" name="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
    <target xsi:type="File"
                    name="File"
                    layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
                    fileName="${basedir}\logs\SeleniumZombie.log"
                    keepFileOpen="false"
                    archiveFileName="${basedir}\logs\SeleniumZombie_${shortdate}.{##}.txt"
                    archiveNumbering="Sequence"
                    archiveEvery="Day"
                    maxArchiveFiles="10"
            />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="Console" />
    <logger name="*" minlevel="Debug" writeTo="File" />
  </rules>
</nlog>
